<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SZKAlterViewDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8A1F5A441CFC2D83003776AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1F5A5D1CFC2D83003776AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1F5A681CFC2D83003776AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
